.App {
  position: relative;
  overflow-x: clip;
}

.App > :nth-child(1) {
  background: var(--black);
  position: relative;
}

.white-gradient {
  position: absolute;
  display: block;
  width: 20rem;
  height: 20rem;
  top: 0;
  background: rgba(255, 255, 255, 0.522);
  /* background: red; */
  filter: blur(100px);
  border-radius: 50%;
}
